// color map
$colors: (
    primary-red: #B4061D,
    secondary-red: #ca1212,
    tertiary-red: #c71d1d,
    red-f70d28: #f70d28,
    white: #fff,
    white-F3: #F3F6F7,
    secondary-color: #ed949c,
    black: #000,
    gray-EE: #eeeeee,
    gray-EC: #ececed,
    gray-E6: #e6e6e6,
    gray-A0: #a0a0a0,
    gray-B0: #b0b0b0,
    gray-F1: #f1f1f1,
    gray-FA: #fafafa,
    gray-D0: #d0d0d0,
    gray-89: #898989,
    gray-95: #959595,
    gray-59: #595959,
    gray-4C: #4c4c4c,
    gray-33: #333333,
    gray-44: #444444,
    gray-5E: #5E5E5E,
);
