.tag {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: color(other, white);
    background-color: color(red, default);
    padding: 8px 16px;
    display: inline-block;
    margin-left: 8px;

    @include breakpoint(desktop) {
        margin-left: 0px;
    }
}

.main-featured-article {
    font-family: font-family(font-article-title);
    padding-bottom: 40px;
    border-bottom: 1px solid color(gray, dark);
    ; 
    a {
        text-decoration: none;
    }
}

.featured {

    .main-featured-image img{
        width: 100%;
        margin-bottom: 16px;
    }

    .featured--main-article-title {
        
        color: color(other,black);
        text-decoration: none;
        font-size: 30px;
        margin: 8px;

        &:hover {
            text-decoration: underline;
        }
    }

    &--main-article-author {
        font-size: 12px;
        color: color(red, default);
        margin: 0 8px;
    }

    &--main-article-date-posted {
        font-size: 12px;
        color: color(gray, dark);
        margin: 4px 8px 0;
    }
}

.articles {
    margin: 40px 0 20px;
    font-family: font-family(font-article-body);

    .featured-article {
        margin-top: 16px;

        @include breakpoint(tablet) {
            flex: 100%;
            padding: 8px;
        }

        a {
            text-decoration: none;
        }

        figure img {
            width: 100%;
        }

        .featured-article-title {
            font-size: font-size(article-body);
            color: color(other,black);
            text-decoration: none;
            
            margin-bottom: 8px;
            max-height: 100%;
            height: 36px;
            margin: 8px;

            &:hover {
                text-decoration: underline;
            }
        }

        .featured-article-author {
            font-family: font-family(font-article-title);
            color: color(red, tertiary);
            font-size: font-size(label);
            margin: 0 8px;
        }

        .featured-article-date {
            font-family: font-family(font-article-title);
            color: color(gray, dark);
            font-size: font-size(label);
            margin:0 8px;
        }
    }
}

.grid--featured-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(38%,auto));

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
}

.story-article {
    font-family: font-family(font-article-body);
    padding: 20px 0;
    border-bottom: solid 1px color(gray, light);
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint(tablet) {
        grid-template-columns: repeat(4, 1fr);
    }
    

    figure img {
        width: 100%;
    }

    .content {
        margin: 0 16px;

        @include breakpoint(tablet) {
            margin: 0;
            grid-column: span 3;
        }

        .story-article-title{
            margin-top: 0;
            font-size: 15px;
            color: color(other, black);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .story-article-author {
            font-size: font-size(label);
            color: color(red, tertiary);
            margin-bottom: 4px;
            font-family: font-family(font-article-body);
            
        }

        .story-article-date {
            font-size: font-size(label);
            color: color(gray, dark);
            margin-bottom: 4px;
            
            font-family: font-family(font-article-title);
            margin: 0;
        }

        .story-article-summary {
            font-size: font-size(body);
            color: color(gray, dark);
            
        }
    }

    a {
        @include breakpoint(tablet) {
            width: 100%;
        }
    }
}

.article, .breadcrumbs {
    padding: 8px;
}
