.top-news {
    padding-bottom: 24px;
    border-bottom: 2px solid #f1f1f1;
}

.top-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .watch-now {
        max-width: 100%;

        .live-video {
            width: 100%;
            height: auto;
            position: relative;

            .video-player {
                position: relative;
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 56.2493%;
                background-color: color(gray-EC);

                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .video-playlist {
                font-family: font-family(font-body);
                margin-top: -16px;

                .playlist li {
                    padding: 8px;
                    font-size: 14px;
                    font-weight: 400;
                    border-left: 2px solid #F1F1F1;
                    margin-bottom: 4px;

                    &:first-child {
                        background: color(secondary-red);
                        border-left: 2px solid color(secondary-red);
                        color: color(white);
                        font-weight: font-weight(600);
                    }
                }
            }
        }
    }
}

.slider {
    .slides {
        position: relative;

        .top-stories{
            &__slider-image figure {
                margin: 0;

                img {
                    aspect-ratio: 525 / 350;
                }
            }

            &__slider-content {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 4px;
                padding: 20px 50px 20px 20px;
                color: color(white);
                background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 70%);

                h2 {
                    font-size: font-size(article-heading);
                    font-weight: font-weight(600);
                    margin: 8px 0 0 0;
                }

                .arrow-left {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    width: 1em;
                    height: 1em;
                }
            }

            &--arrows {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
            }
        }
    }
}

.arrow {
    width: 40px;
    height: 40px;
    border: 1px solid color(gray-EC);
    color: color(gray-A0);
    font-size: font-size(tag);
    margin-bottom: 4px;
    background-image: linear-gradient(180deg,color(white),color(white));

    &:hover {
        background: color(secondary-red);
        color: color(white);
    }
}

.left {
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 1em;
    position: relative;
    transform: rotate(-135deg);
    vertical-align: top;
    width: 0.45em;
}

.right {
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 12px;
    position: relative;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.45em;
}

.category-tag {
    background-color: color(secondary-red);
    color: color(white);
    display: inline;
    padding: 4px 8px;
}

.tab--latest-news-most-read {
    display: flex;
    box-shadow: inset 0 -2px 0 0 color(gray-F1);
}

.latest-news .most-read-tab {
    color: color(gray-B0);
    text-align: center;
}

.latest-news {
    width: 25%;

    h2 {
        padding-bottom: 3px;
        margin-bottom: 0;
        width: 50%;
    }
    
    &--list li {
        padding: 8px 0;
        font-size: font-size(body);
        border-bottom: 2px solid color(gray-F1);

        span {
            font-size: font-size(span);
            color: color(gray-A0);
            padding-left: 8px;
            text-transform: uppercase;
        }
    }

    .latest-news-tab {
        color: color(secondary-red);
        box-shadow: inset 0 -2px 0 0 color(secondary-red);
    }
}

// bottom row 
.bottom-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .first-col{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 42%;
    }
    .multimedia{
        width: 25%;
        position: relative;
    }
}

.advertisement {
    width: 29%;

    figure img {
        width: 100%;
    }
}

.editors-pick--articles li, .trending-now--articles li  {
    font-size: font-size(body);
    padding: 4px 0px;

    &:first-child {
        display: flex;
    }

    img {
        width: 101px;
        /* height: 67px; */
        margin-right: 12px;
        aspect-ratio: 101/67;
    }

    a:hover {
        text-decoration: underline;
    }
}

.category-col--small {
    width: 48%;
}

.multimedia {
    &--image  {
        figure img {
            width: 100%;
            aspect-ratio: 320 / 213;
        }
    
        .caption{
            padding-right: 64px;
    
            a:hover {
                text-decoration: underline;
            }
        }
    }

    &--arrows {
        position: absolute;
        bottom: -3px;
        right: 0;
        display: flex;
        margin-top: 4px;

        .arrow {
            width: 30px;
            height: 30px;
        }

        .left {
            left: 12px;
            top: -6px;
            border-width: 2px 2px 0 0;
        }

        .right {
            left: 8px;
            top: -5px;
            border-width: 2px 2px 0 0;
        }
    }
}

.grid--category-articles, .grid--latest-videos {
    grid-template-columns: repeat(
        auto-fill, 
        minmax(206px, auto)
        );
}

.category .category-article .label-tag{
    font-family: 'Source Sans Pro',sans-serif;
    color: color(white);
    font-size: font-size(label);
    font-weight: font-weight(400);
    text-transform: uppercase;
    position: absolute;
    background: color(secondary-red);
    bottom: 3px;
    padding: 4px 8px;
}

.category .category-article, .latest-videos .latest-videos-list {
    figure {
        position: relative;
        /* width: 188px; */
        max-width: 100%;
        /* height: 125px; */
        margin-bottom: 8px;
    }

    img {
        width: 100%;
        /* height: 125px; */
        aspect-ratio: 188 / 125;
    }
}

.grid--col-3-news {
    grid-gap: 16px;
    grid-template-columns: repeat(3,auto);
    padding-bottom: 16px;
}

.tagged-content {
    background: color(gray-F1);
    left: 0;
    width: 100%;

    .col-1 .featured-tagged-article {
        display: flex;
        justify-content: space-between;
        a {
            width: 40%;
            border-bottom: 2px solid color(white);
        }
    }
    .title--uppercase{
        border-bottom: 2px solid color(white);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 8px 0px 16px;
    }

    .featured-tagged-img {
        width: 55%;
        height: auto;
        position: relative;
        overflow: hidden;

        figure {
            position: relative;
            width: 100%;
            height: 0;
            margin-bottom: 0;
            padding-bottom: 66.67%;
            background-color: color(gray-FA);

            img {
                height: auto;
                width: 100%;
                max-width: 100%;
                aspect-ratio: 320 / 213;
            }
        }
    }
}

.col-2 {
    margin: 65px 0 0 0;
}

.col-3 {
    margin: 8px 0 0 0;
}

.col-3-news {
    .col {
        .lower-row:first-child{
            margin-right: 16px;
        }
    }
    .col-1 {
        .lower-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 16px;
            font-size: font-size(body);
        }
    }

    .col-2, .col-3 {
        padding-left: 16px !important;

        .lower-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: font-size(body);
        }
    }
}

.col-3-content {
    .col .with-thumbnail {
        display: flex;
        padding-bottom: 8px;

        div {
            border-bottom: 2px solid color(white);
        }

        .covid-thumbnail {
            width: 30%;
            /* height: 74px; */
            margin-right: 16px;
            aspect-ratio: 111 / 74;
        }
    }
    .link-more {
        display: flex;
        justify-content: flex-end;
    
        a{
            color:color(secondary-red);
            font-weight: font-weight(600);
            margin: 20px 0;
            padding: 0;
    
            &:after {
                content: '\003E';
                padding: 0 0 0 8px;
            }
        }
    }
}