@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

html, body {
    width: 100%;
    margin: 0;
}

.container {
    width: 60%;
    margin: 20px auto;
}

.nav-header {
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #B4061D;
}

.nav-header .nav {
    padding: 16px 0;
}

.nav-header a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav .nav-link {
    align-items: center;
}

.nav img {
    max-width: 200px;
    height: 30px;
}

.nav a span {
    font-weight: 700;
    padding-left: 8px;
    font-size: 28px;
}

/* ARTICLE DETAIL PAGE */

.breadcrumbs a, .breadcrumbs a:visited, .breadcrumbs span{
    font-family: 'Libre Franklin', sans-serif;
    color: #898989;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.article {
    font-family: 'Roboto', sans-serif;
}

.article--header {
    padding-bottom: 16px;
}

.article .article--title {
    font-size: 46px;
    font-weight: 500;
    line-height: 51px;
    margin-bottom: 16px;
}

.article p {
    margin: 0;
}

.article .article--author {
    color: #c71d1d;
    font-size: 12px;
    line-height: 18px;
}

.article .article--date-posted {
    color: #959595;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
}

.article-content {
    font-family: 'Libre Franklin', sans-serif;
}

.article-content figure {
    margin: 12px 0;
} 

.article-content figure img {
    width: 100%;
    /* height: 447px; */
}

.article-content figcaption, .article-content .caption {
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    font-size: 13px;
    color: #595959;
    line-height: 1.4;
    background-color: #F3F6F7;
    margin-top: -4px;
}

.article-content p {
    color: #333333;
    margin: 12px 0;
    line-height: 25px;
    padding: 0;
    font-size: 15px;
}

.article-content b, .article-content strong {
    font-weight: 700;
}

.media{
    height:0;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 20px 0 0;
}

.media iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.article-content .caption {
    text-align: center;
    margin-bottom: 20px;
}

.article-content .caption a{
    color: #B4061D;
    text-decoration: none;
    font-weight: 500;
}

.form {
    background-color: #B4061D;
    color: #fff;
    padding: 40px 20px;
}

form {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

form label {
    font-weight: 700;
}

.form form .input {
    display: flex;
    margin-top: 16px;
}

.email-input {
    height: 30px;
    width: 425px;
    border: none;
}

.btn-submit{
    margin-left: 16px;
    background-color: #fff;
    color: #333333;
    border: none;
    padding: 0 24px;
    border-radius: 20px;
    cursor: pointer;
}

/* COMMENT */
.comment-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.user img {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.comment-section h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

.comment-form {
    margin-bottom: 20px;
    display: flex;
}

.comment-form form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 16px;
}
.comment-form textarea {
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}

.submit-comment {
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 16px 24px;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}

.comments {
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding:20px 0;
    border-bottom: solid 1px #e6e6e6;
    align-items: center;
}

.comments .comment {
    margin-left: 16px;
}

.comments .user-name {
    font-weight: 500;
    margin: 0 0 4px;
}

/* ARTICLE BROWSE PAGE */

.tag {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background-color: #c71d1d;
    padding: 8px 16px;
    display: inline-block;
}

.main-featured-article {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.main-featured-article a {
    text-decoration: none;
}
.featured figure {
    margin: 0;
}
.featured .main-featured-image img{
    width: 100%;
    margin-bottom: 16px;
}
.featured .featured--main-article-title {
    line-height: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
}
.featured .featured--main-article-title:hover {
    text-decoration: underline;
}

.featured--main-article-author {
    font-size: 12px;
    line-height: 14px;
    color: #c71d1d;
    margin-bottom: 0;
}

.featured--main-article-date-posted {
    font-size: 12px;
    line-height:14px;
    color: #959595;
    margin: 4px 0 0;
}

.articles {
    margin: 40px 0 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.articles .featured-articles {
    display: flex;
    flex-wrap: wrap;
}

.articles .featured-article {
    flex: 1 0 48%;
    margin-top: 16px;
}

.featured-article a {
    text-decoration: none;
    color: #000;
}

.featured-article a:visited {
    color: #000;
}

.articles .featured-article:nth-child(even) {
    margin-left: 8px;
}

.featured-article figure img {
    width: 100%;
}

.featured-article .featured-article-title {
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 8px;
    max-height: 100%;
    height: 36px;
}

.featured-article .featured-article-title:hover {
    text-decoration: underline;
}

.featured-article .featured-article-author {
    font-family: 'Roboto', sans-serif;
    color: #c71d1d;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
}

.featured-article .featured-article-date {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 12px;
    line-height: 12px;
    margin:0;
}

.story-article {
    display: flex;
    font-family: 'Libre Franklin', sans-serif;
    padding: 20px 0;
    border-bottom: solid 1px #e6e6e6;
}

.story-article figure img {
    width: 228px;
    height: 152px;
}

.story-article .content {
    margin-left: 16px;
}

.story-article .content .story-article-title{
    margin-top: 0;
    font-size: 15px;
    line-height: 18px;
}

.story-article .content .story-article-author {
    font-size: 12px;
    line-height: 16px;
    color: #c71d1d;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.story-article .content .story-article-date {
    font-size: 12px;
    line-height: 16px;
    color: #959595;
    margin-bottom: 4px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.story-article .content .story-article-summary {
    font-size: 14px;
    color: #444444;
    line-height: 18px;
    font-weight: 400;
}

.story-article .content .story-article-summary .cta {
    color: #c71d1d;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
}

.story-article .content .story-article-summary .cta:hover {
    text-decoration: underline;
}