// color map
$colors: (
    red: (
        default:#B4061D,
        secondary: #ca1212,
        tertiary: #f70d28,
    ),
    
    gray: (
        default:#eeeeee,
        light:#b0b0b0,
        dark:#333333,
    ),
    other: (
        white: #fff,
        peach: #ed949c,
        black: #000,
    )
);
