// atomic css design pattern

.pos,
.pos-r { position: relative; }
.pos-s { position: static; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.d,
.d-b {  display: block; }
.d-n {  display: none; }
.d-i {  display: inline; }
.d-ib { display: inline-block; }

// Typography
.fw,
.fw-n {  font-weight: normal; }
.fw-b {  font-weight: bold; }
.fw-br { font-weight: bolder; }
.fw-lr { font-weight: lighter; }
.fw-1 {  font-weight: 100; }
.fw-2 {  font-weight: 200; }
.fw-3 {  font-weight: 300; }
.fw-4 {  font-weight: 400; }
.fw-5 {  font-weight: 500; }
.fw-6 {  font-weight: 600; }
.fw-7 {  font-weight: 700; }
.fw-8 {  font-weight: 800; }


.va,
.va-t {  vertical-align: top; }
.va-m {  vertical-align: middle; }
.va-bl { vertical-align: baseline; }
.va-b {  vertical-align: bottom; }

.ta-c {  text-align: center; }
.ta-j {  text-align: justify; }

.td,
.td-n { text-decoration: none; }
.td-u { text-decoration: underline; }

.tt,
.tt-u { text-transform: uppercase; }
.tt-n { text-transform: none; }
.tt-c { text-transform: capitalize; }
.tt-l { text-transform: lowercase; }

.lh-1 { line-height: 1; }


// Lists
.lis-n { list-style: none; }